body {
    background-image: url(../img/fondo.jpg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    background-color: rgba(228, 213, 213, 0.22);
}

.section {
    background-attachment: fixed;
}

div .container1 {
    text-align: justify;
}


/*#carrusel {
    height: 80%;
    width: 100%;
}


/*


/* Estilos Galeria*/

#imggaleria div {
    height: 100%;
    width: 305px;
    display: inline-block;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
}

#imggaleria img {
    height: 300px;
    width: 303px;
    object-fit: cover;
}

#color {
    background-color: black;
}

#imgpanel {
    object-fit: cover;
}


/* Estilos Contenido */